<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image/ico" href="http://madeatpenn.herokuapp.com/labs2.png"/>  

   
    <link href='http://fonts.googleapis.com/css?family=Lato:300,400,700,900italic' rel='stylesheet' type='text/css'>
        <!-- Bootstrap core CSS -->
    <link href="/bootstrap.css" rel="stylesheet">


     <link href="/style.css" rel="stylesheet" type="text/css">

    <meta name="description" content="">
    <meta name="author" content="">
    <script src="//code.jquery.com/jquery-1.9.1.js"></script>
    <script src="//code.jquery.com/ui/1.10.4/jquery-ui.js"></script>

    <title>Made At Penn</title>
    <script>
       $(function() {
      /*function log( message ) {
        $( "<div>" ).text( message ).prependTo( "#log" );
        $( "#log" ).scrollTop( 0 );
      }
      */
      $("#tags").autocomplete({
          source: function(request, response) {
              var results = []
              $.get('/search/' + request.term, function(data) {
                  console.log(data);
                  $.each(data.elements, function(index, item) {
                      var itemToAdd = {
                        value : item,
                        label : item,
                      } 
                      results.push(itemToAdd);
                    });               
              return response(results);
              });
          }
        });
    });

      $(document).ready(function(e){ 
          $('.project').hover( 
            function () {
                  $(this).find('.app_description').fadeIn('fast');
              },
            function () {
                  $(this).find('.app_description').fadeOut('fast');
            })
          $('.view').hover(
             function () {
                  $(this).toggleClass('view-background');
             }
            )

    });

    </script>

<style> 
  #nav-home {
    background-color: #3498db;
  }

</style>

  </head>

  <body>


 <% include banner %>

<div id="splash" >

  <div id="splash-blurb">
    <p> A showcase for startups and projects created by Penn students and alumni. </p>
  </div>
  
  <div id="splash-button-container" >
    <a href="/projects"> <div class="splash-button project-btn" >Projects</div></a> <a href="/startups"> <div class="splash-button startup-btn">Startups </div></a>

    <br />
    <a href="/submit"> <div class="splash-button submit-btn"> Submit Your Own</div></a>
  </div>

</div>


<div id="container">

    <div id="projects">
      <h2 class="section-header"> Projects </h2>        <div class="underline_divider"></div>


    <% projects.forEach(function(project, index){ %>
  
        <% if (project.approved == 1 && (project.project_or_startup == "project")) { %>
              <div class="project" id= <%= project._id %> >
                <div class="app_image">
                   <img width='320px' height='200px' src= <%= "https://s3-us-west-2.amazonaws.com/penn-open-source/images/" + project._id + ".jpg" %> /> 
                   
                        <div class="app_description">
                                 
                              
                              <div class= "blurb"  <p> <%= project.description %> </p> </div>
                              

                              <a href=<%= project.demo_link %>><div class="view left">
                                    View App
                                </div> </a>


                                <a href=<%= project.github %>><div class="view right">
                                    View Source
                                </div> </a>

                                  <div class="tags">
                                    <span>
                                      <p> Tags:    
                                      <% var array = project.tags.split(","); %>
                                      <% for(var i=0; i<array.length; i++) { %>
                                      <a href =  <%= '/tag/' + array[i].trim() %> ><%= array[i] %></a>  
                                      <% } %>
                                    </p></span>
                                  </div>
                        </div>
                 </div>

                 <div class="app_title">
                    <span><h2> <a href=<%= project.demo_link %>> <%= project.app_name %></a> </h2></span>    
                    <br />
                    <h3> <%= project.builders %>  </h3> 
                 </div>

              </div>
        <% } %> 
    <% }) %>

<h1 class="section-header"> Startups </h2>
          <div class="underline_divider"></div>


<% projects.forEach(function(project, index){ %>
  
        <% if (project.approved == 1 && (project.project_or_startup == "startup")) { %>
              <div class="project" id= <%= project._id %> >
                <div class="app_image">
                   <img width='320px' height='200px' src= <%= "https://s3-us-west-2.amazonaws.com/penn-open-source/images/" + project._id + ".jpg" %> /> 
                   
                        <div class="app_description">
                                 
                              
                              <div class= "blurb"  <p> <%= project.description %> </p> </div>
                              

                              <a href=<%= project.demo_link %>><div class="view center">
                                    View Site
                                </div> </a>


                                  <div class="tags">
                                    <span>
                                      <p> Tags:    
                                      <% var array = project.tags.split(","); %>
                                      <% for(var i=0; i<array.length; i++) { %>
                                      <a href =  <%= '/tag/' + array[i].trim() %> ><%= array[i] %></a>  
                                      <% } %>
                                    </p></span>
                                  </div>
                        </div>
                 </div>

                 <div class="app_title">
                    <span><h2> <a href=<%= project.demo_link %>> <%= project.app_name %></a> </h2></span>    
                    <br />
                    <h3> <%= project.builders %>  </h3> 
                 </div>

              </div>
        <% } %> 
    <% }) %>




    </div>
</div>

    <% include footer %>



  </body>


  </html>